.navbar {
  background-color: rgb(72, 72, 72);
  overflow: hidden;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar-link {
  padding: 14px 16px;
  text-decoration: none;

  color: #001dae;
  font-size: 28px;
}
.navbar-link1 {
  padding: 14px 16px;
  text-decoration: none;

  color: #001dae;
  font-size: 28px;
}
.navbar-link2 {
  padding: 14px 16px;
  text-decoration: none;

  color: #ae0600;
  font-size: 28px;
}
.navbar-link3 {
  padding: 14px 16px;
  text-decoration: none;

  color: #60dd00;
  font-size: 28px;
}
.navbar-link4 {
  padding: 14px 16px;
  text-decoration: none;

  color: #00aea2;
  font-size: 28px;
}
.navbar-link5 {
  padding: 14px 16px;
  text-decoration: none;

  color: #cbb004;
  font-size: 28px;
}

.navbar-logo {
  padding: 14px 16px;
  float: left;
}
.navbar-down {
  text-align: center;
  background-color: rgb(72, 72, 72);
}
body {
  background-color: rgb(89, 32, 194);
}
.Phones-Text {
  text-align: center;
  background-color: rgb(72, 72, 72);
  vertical-align: middle;
}


.Phones-Text span {
  font-size: 30px; /* Change the font size to your desired value */
  vertical-align: middle;
}
.Tablets-Text span {
  font-size: 30px; /* Change the font size to your desired value */
  vertical-align: middle;
}
.Laptops-Text span {
  font-size: 30px; /* Change the font size to your desired value */
  vertical-align: middle;
}
.Watches-Text span {
  font-size: 30px; /* Change the font size to your desired value */
  vertical-align: middle;
}
.Tablets-Text {
  text-align: center;
  background-color: rgb(72, 72, 72);
}
.Laptops-Text {
  text-align: center;
  background-color: rgb(72, 72, 72);
}
.Watches-Text {
  text-align: center;
  background-color: rgb(72, 72, 72);
}

.Watches-Text {
  text-align: center;
  background-color: rgb(72, 72, 72);
}
footer {
  background-color: rgb(72, 72, 72);
  text-align: center;
}
